
<h1 style="text-align:center">신이 <%= @name %> 을/를 만들때</h1><br>
<div>
<img src="/assets/aaaa.png" style="margin-left: auto; margin-right: auto; display: block">
</div>
<div style="text-align:center">
<%= @result[0] %> <%= @spoon[0] %>스푼　　　　
<%= @result[1] %> <%= @spoon[1] %>스푼　　　　
<%= @result[2] %> 우아아아아왕
</div>